
.pagIndex {
  color: rgb(227, 12, 12);
  text-align: center;
}

.pagIndex:hover {
  color: blue;
  font-size: 3rem;
  z-index: -5;
}
span {
  color: chocolate;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 85%;
  background-image: radial-gradient(green, rgb(22, 199, 152));
}
#customers td,
#customers th {
  border: 1px solid #ddd;
  border-radius: 1em;
  line-height: 50px;
  text-align: center;
}
#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}
#customers tr:nth-child(odd) {
  background-color: #f2fff2;
}
#customers tr:hover {
  background-color: aquamarine;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rgb(25, 154, 88);
  color: white;
  opacity: 0.8;
}



form > div, fieldset > div{
    margin-bottom: 10px;
    padding: 5px 0;
    align-items: center;

}
fieldset{
    padding-left: 0;
    background: #EEE;
    border: 1px solid #AAA ;

}
legend{
    color: #0000CC;
    font-weight: bold;
    font-variant: small-caps ;
}

form{
    width: 700px;
    align-content: center;
}

h1{
    text-shadow: 0px 0px 5px cyan;
}

textarea{
    vertical-align: text-top;
    width: 500px;
    height: 150px;
}
input[type=text], input[type=email], select{

    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    transition: width 0.4s ease-in-out;
}
input[type=text],input[type=email]:focus{
    width: 500px;
   
}

#assunto, label{
    display: inline-block;
    width: 200px;
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}



div.cadastro{
    padding-left: 350px;
}
.cadastro label{
    width: 300px;
    text-align: left;
    
}
.obrigatorio{
    color: #AA0000;
}
#mensagem{
    width: 700px;
    font-weight: bold;
    color: rgb(28, 5, 5);
    font-size: 18px;
}
.container{
    margin-left: 30%;
    padding: 0;
    width: 800px;
}

/* body { background-color: blue; }

@media (max-width: 600px) {
body { background-color: red; }
}

@media (min-width: 800px) {
body { background-color: green; }
} */